alembic
Click
Flask
Flask-Avatars
Flask-Cors
Flask-Login
Flask-Mail
Flask-Migrate
Flask-Share
Flask-SQLAlchemy
Flask-WTF
itsdangerous
Jinja2
Mako
MarkupSafe
passlib
gunicorn
paystackapi
Pillow
pipenv
pipreqs
psycopg2-binary
pyajax
pyparsing
python-dateutil
python-editor
python-resize-image
requests
six
SQLAlchemy
urllib3
virtualenv
virtualenv-clone
Werkzeug
WTForms
