{% extends 'layout.html' %}
{% block body %}
<div class="wrapper">
    <div class="breadcrumb-wrap">
        <div class="container py-3">
            <div class="row d-flex justify-content-md-between justify-content-sm-center">
                <div class="col-md-4">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item mr-1 font-weight-bold"><a href="/">Home</a></li>
                                <li class="breadcrumb-item mr-1 font-weight-bold"><a href="{{url_for('users.userdashboard')}}">Dashboard</a></li>
                            <li class="breadcrumb-item ml-1 font-weight-bold active" aria-current="page">
                                Add Blog Post
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <aside class="col-lg-3 pt-4 pt-lg-0">
                <div class="row">
                    <div class="col-md-12 grid-margin stretch-card">
                        <div class="card mb-4">
                            <div class="card-body px-3 py-2">
                                <div class="d-sm-flex flex-row flex-wrap text-center text-sm-left align-items-center">
                                    <img src="{{ avatars.gravatar(current_user.email) }}" class="img-lg rounded-circle" alt="profile image">
                                    <div class="ml-sm-2 ml-md-0 ml-xl-2 mt-2 mt-sm-0 mt-md-2 mt-xl-0">
                                        <h6 class="mb-0">{{current_user.fullname}}</h6>
                                        <p class="text-muted mb-1" style="font-size: 12px;">{{current_user.email}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-4">
                    <ul class="nav flex-column dash-nav">
                        <li class="nav-item">
                            <a class="nav-link active d-flex justify-content-between align-items-center" aria-current="page" href="{{url_for('users.userdashboard')}}">
                                <div><i class="las la-arrow-right"></i>Dashboard</div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active d-flex justify-content-between align-items-center" aria-current="page" href="{{url_for('posts.newposts')}}">
                                <div><i class="las la-file"></i>View new ads</div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active d-flex justify-content-between align-items-center" aria-current="page" href="{{url_for('posts.sharedads')}}">
                                <div><i class="las la-cloud-download-alt"></i>My shared ads</div>
                                <div class="d-flex  align-items-center">
                                    <p class="mb-0 text-small">{{shared}}</p>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active d-flex justify-content-between align-items-center" aria-current="page" href="{{url_for('users.userposts')}}">
                                <div><i class="las la-file"></i>My ads</div>
                                <div class="d-flex  align-items-center">
                                    <p class="mb-0 text-small text-primary">{{posted}}</p>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active d-flex justify-content-between align-items-center" aria-current="page" href="{{url_for('posts.postad')}}">
                                <div><i class="las la-plus"></i>Post new ad</div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active d-flex justify-content-between align-items-center" aria-current="page" href="{{url_for('users.usersettings')}}">
                                <div><i class="las la-cog"></i>Settings</div>

                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active d-flex justify-content-between align-items-center" aria-current="page" href="{{url_for('payments.userpayment')}}">
                                <div><i class="las la-wallet"></i>Payment</div>
                                <div class="d-flex  align-items-center">
                                    <p class="mb-0 text-small text-success">

                                    </p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </aside>
            <div class="col-lg-9">
                <div class="row">
                    <div class="col">
                        <div class="card mb-5">
                            <div class="card-header border-bottom">
                                <div class="d-flex align-items-center">
                                    <div>
                                        <h6 class="card-title mb-0">Add New Blog Post</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                            	<form role="form" class="form-width" method="POST" enctype="multipart/form-data">
                            	{{ form.hidden_tag() }}
                            	{% from 'includes/_formhelpers.html' import render_field %}
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    {{render_field(form.title, class_='form-control', placeholder='Title of post')}}
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    {{render_field(form.subject, class_='form-control', placeholder='Subject of post')}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    {{render_field(form.image, class_='form-control-file border', placeholder='Image of post')}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">{{render_field(form.post, class_='form-control', placeholder='Blog post here')}}
                                        </div>
                                        <div class="form-group">
                                            {{render_field(form.poster, class_='form-control', placeholder='Vedrat Admin')}}
                                        </div>
                                        <div class="form-actions my-4">
                                            <button type="submit" class="btn btn-primary width-150">
                                                Post
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}