{% extends 'layout.html' %}
{% block body %}
    <div class="wrapper">
        <div class="breadcrumb-wrap">
            <div class="container py-3">
                <div class="row d-flex justify-content-md-between justify-content-sm-center">
                    <div class="col-md-4">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item mr-1 font-weight-bold"><a href="/">Home</a></li>
                                <li class="breadcrumb-item mr-1 font-weight-bold"><a href="{{url_for('users.userdashboard')}}">Dashboard</a></li>
                                <li class="breadcrumb-item ml-1 font-weight-bold active" aria-current="page">
                                    Contact
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row my-6">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-body py-3 border-bottom">
                            <div class="d-flex align-items-center">
                                <div>
                                    <h4 class="card-title mb-0">Use this form for contact</h4>
                                </div>
                            </div>
                        </div>
                        <div class="card-body pt-3">
                            <form id="contact-form" class="mt-4" method="POST" role="form">
                                {{ form.hidden_tag() }}
              					{% from 'includes/_formhelpers.html' import render_field %}
                                <div class="messages"></div>
                                <div class="controls">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                {{render_field(form.fullname, class_='form-control', placeholder='Please enter your fullname')}}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                            	{{render_field(form.email, class_='form-control', type='email', placeholder='Please enter your email')}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                            	{{render_field(form.subject, class_='form-control', placeholder='Please select the subject of your message')}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                            	{{render_field(form.message, class_='form-control', placeholder='Message for me')}}
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <input type="submit" class="btn btn-primary btn-send" value="Send message" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p class="text-muted mt-3">
                                                <strong>*</strong> These fields are required
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                <div class="row mt-4 mt-md-0">
                    <div class="col-md-12">
                        <div class="card text-center">
                            <div class="card-body">
                                <div class="box-icon bg-info-alt text-info d-flex align-items-center justify-content-center">
                                    <i class="las la-phone-volume"></i>
                                </div>
                                <div class="content mt-3">
                                    <h4 class="title font-weight-bold">Phone</h4>
                                    <p class="text-muted">
                                        Reach our customer care lines which are 24/7 always active
                                    </p>
                                    <a href="tel:+2348151667656" class="text-primary">+234-815-1667-656</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 mt-4 pt-2 pt-sm-0">
                        <div class="card text-center">
                            <div class="card-body">
                                <div class="box-icon bg-warning-alt text-warning d-flex align-items-center justify-content-center">
                                    <i class="las la-envelope-open"></i>
                                </div>
                                <div class="content mt-3">
                                    <h4 class="title font-weight-bold">Email</h4>
                                    <p class="text-muted">
                                        Send us an email and recieve a response within 24 hours
                                    </p>
                                    <a href="mailto:contact@vedrat.com" class="text-primary">contact@vedrat.com</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}