{% extends 'layout.html' %}
{% block body %}
    <div class="wrapper">
        <div class="breadcrumb-wrap">
            <div class="container py-3">
                <div class="row d-flex justify-content-md-between justify-content-sm-center">
                    <div class="col-md-4">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item mr-1 font-weight-bold"><a href="#">Home</a></li>
                                <li class="breadcrumb-item ml-1 font-weight-bold active" aria-current="page">
                                    Contact
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row d-flex align-items-stretch">
            	<div class="col-md-2"></div>
                <div class="col-md-3">
                    <div class="card text-center">
                        <div class="card-body">
                            <div class="box-icon bg-info-alt text-info d-flex align-items-center justify-content-center">
                                <i class="las la-phone-volume"></i>
                            </div>
                            <div class="content mt-3">
                                <h4 class="title font-weight-bold">Phone</h4>
                                <p class="text-muted">
                                    Reach our customer care lines which are 24/7 always active
                                </p>
                                <a href="tel:+2348151667656" class="text-primary">+234-815-1667-656</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end col-->
                <div class="col-md-3 mt-4 mt-sm-0 pt-2 pt-sm-0">
                    <div class="card text-center">
                        <div class="card-body">
                            <div class="box-icon bg-warning-alt text-warning d-flex align-items-center justify-content-center">
                                <i class="las la-envelope-open"></i>
                            </div>
                            <div class="content mt-3">
                                <h4 class="title font-weight-bold">Email</h4>
                                <p class="text-muted">
                                    Send us an email and recieve a response within 24 hours
                                </p>
                                <a href="mailto:vedrat@gmail.com" class="text-primary">vedrat@gmail.com</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end col-->
            </div>
            <!--end row-->
        </div>

        <div class="container">
            <div class="row my-6">
                <div class="col-lg-8">
                    <div class="card">
                        <div class="card-body py-3 border-bottom">
                            <div class="d-flex align-items-center">
                                <div>
                                    <h4 class="card-title mb-0">Use this form for contact</h4>
                                </div>
                            </div>
                        </div>
                        <div class="card-body pt-3">
                            <form id="contact-form" class="mt-4" method="POST" role="form">
              					{% from 'includes/_formhelpers.html' import render_field %}
                                <div class="messages"></div>
                                <div class="controls">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                {{render_field(form.fullname, class_='form-control', placeholder='Please enter your fullname')}}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                            	{{render_field(form.email, class_='form-control', placeholder='Please enter your email')}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                            	{{render_field(form.subject, class_='form-control', placeholder='Please select the subject of your message')}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                            	{{render_field(form.message, class_='form-control', placeholder='Message for me')}}
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <input type="submit" class="btn btn-primary btn-send" value="Send message" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p class="text-muted mt-3">
                                                <strong>*</strong> These fields are required
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div id="faq-accordion" class="mb-5">
                    	{% for faq in faqs %}
	                    	{% if faq.id <= 5 %}
		                        <div class="card mb-2 mb-md-3">
		                            <a href="#accordion-1" data-toggle="collapse" role="button" aria-expanded="false" class="p-3 p-md-4">
		                                <div class="d-flex justify-content-between align-items-center">
		                                    <h6 class="mb-0 mr-2">How do I contact support?</h6>
		                                    <i class="las la-arrow-right icon"></i>
		                                </div>
		                            </a>
		                            <div class="collapse" id="accordion-1" data-parent="#faq-accordion">
		                                <div class="px-3 px-md-4 pb-3 pb-md-4">
		                                    f you need help with the product, please contact the shop owner by
		                                    visiting their shop profile and sending them a message. For
		                                    anything else (licensing, billing, etc), please visit our Help
		                                    Center.
		                                </div>
		                            </div>
		                        </div>
	                        {% endif %}
	                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}