{% extends 'layout.html' %}
{% block body %}
        <div class="wrapper">
            <div class="container">
                <div class="intro-2 poition-relative">
                    <div class="row d-flex justify-content-between align-items-center">
                        <div class="col-md-8">
                            <h1 class="intro-title">
                                Platform for Startup &amp Business owners
                            </h1>
                            <p class="lead">
                                Advertise to a wide range of potential customers at your budget.
                            </p>
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="input-group mb-3">
                                            <a href="{{url_for('users.signup')}}" class="btn btn-primary" type="button">Register <i class="las la-user-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 d-none d-sm-block">
                            <a href="https://pngtree.com/so/sofa"><img class="card-img-top opacity-8" src="../static/img/illustrations/intro.png" alt="image" /></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row mb-4 mt-5 d-flex justify-content-between align-items-center">
                    <div class="col-md-8">
                        <h5 class="mb-0">Popular posts</h5>
                    </div>
                </div>
                <div class="row">
                    {% for post in popular_posts %}
                    <div class="col-md-3">
                        <div class="card item-card h-100 border-0">
                            <div class="item-card__image rounded">
                                <a href="{{url_for('posts.userviewpost', post_id=post.uuid)}}">
                                    <img src="../static/img/vedrat/{{post.image}}" class="img-fluid rounded" alt="{{post.title}}">
                                </a>
                                <div class="hover-icons">
                                    <ul class="list-unstyled">
                                        <li><a href="{{url_for('posts.userviewpost', post_id=post.uuid)}}" data-toggle="tooltip" data-placement="left" title="Demo"><i class="las la-desktop"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- end: Item card image -->
                            <div class="card-body px-0 pt-3">
                                <div class="d-flex justify-content-between align-items-start">
                                    <div class="item-title">
                                        <a href="{{url_for('posts.userviewpost', post_id=post.uuid)}}">
                                            <h3 class="h5 mb-0 text-truncate">{{post.title}}</h3>
                                        </a>
                                    </div>
                                    <div class="item-price">
                                        <span>{{post.posters_applied}}</span>
                                    </div>
                                </div>
                                <!-- end: Card info -->
                                <div class="d-flex justify-content-between align-items-center item-meta">
                                    <div class="short-description mb-0">
                                        <p class="mb-0 extension-text"><a href="{{url_for('posts.newposts', post_category=post.category)}}">{{post.category}}</a></p>
                                    </div>
                                </div>
                                <!-- end: Card meta -->
                            </div>
                            <!-- edn:Card body -->
                        </div>
                        <!-- end: Card -->
                    </div>
                    {% endfor %}
                    <!-- end: col -->
                </div>
                <hr class="divider divider-fade">
                <div class="row mb-4 mt-3 d-flex justify-content-between align-items-center">
                    <div class="col-md-8">
                        <h5 class="mb-0">New posts</h5>
                    </div>
                </div>
                <div class="row">
                    {% for post in new_posts %}
                    <div class="col-md-3">
                        <div class="card item-card h-100 border-0">
                            <div class="item-card__image rounded">
                                <a href="{{url_for('posts.userviewpost', post_id=post.uuid)}}" class="swap-link">
                                    <img src="../static/img/vedrat/{{post.image}}" class="img-fluid rounded" alt="{{post.title}}">
                                </a>
                                <div class="hover-icons">
                                    <ul class="list-unstyled">
                                        <li><a href="{{url_for('posts.userviewpost', post_id=post.uuid)}}"><i class="las la-desktop"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- end: Item card image -->
                            <div class="card-body px-0 pt-3">
                                <div class="d-flex justify-content-between align-items-start">
                                    <div class="item-title">
                                        <a href="#">
                                            <h3 class="h5 mb-0 text-truncate">{{post.title}}</h3>
                                        </a>
                                    </div>
                                    <div class="item-price">
                                        <span>{{post.posters_applied}}</span>
                                    </div>
                                </div>
                                <!-- end: Card info -->
                                <div class="d-flex justify-content-start align-items-center item-meta">
                                    <div class="short-description mb-0">
                                        <p class="mb-0 extension-text"><a href="#">{{post.category}}</a></p>
                                    </div>
                                </div>
                                <!-- end: Card meta -->
                            </div>
                            <!-- edn:Card body -->
                        </div>
                        <!-- end: Card -->
                    </div>
                    {% endfor %}
                    <!-- end: col -->
                </div>
            </div>
            <div class="section">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="info-box p-4">
                                <h6 class="text-primary">Get paid for your work</h6>
                                <h3>
                                    Post ads on your social media and get paid
                                </h3>
                                <p class="lead">Select ads by categories that fit your lifestyle and share on your social media pages.</p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="info-box p-4">
                                <h6 class="text-primary">Customers</h6>
                                <h3>
                                    Startup and business owners
                                </h3>
                                <p class="lead">Find the perfect audience as you can advertise to a wide range at your own budget.</p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="info-box p-4">
                                <h6 class="text-primary">Referral</h6>
                                <h3>
                                    Earn up to N74,000 referring people to work with us!
                                </h3>
                                <p class="lead">We pay high commissions to our partners for referring new customers to the platform.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock body %}