<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Advertisement platform for small and medium scale businesses" />
    <title>Vedrat | {{title}}</title>
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,400,600,700,800,900&display=swap" rel="stylesheet">
    <!-- build:css -->
    <link rel="stylesheet" href="../static/vendor/css/line-awesome.css">
    <link rel="stylesheet" href="../static/vendor/css/swiper.min.css">
    <link rel="stylesheet" href="../static/css/bootstrap-custom.css">
    <link rel="stylesheet" href="../static/css/theme.css">
    <!-- endbuild -->
    <link rel="stylesheet" href="../static/css/custom.css">
    <link rel="stylesheet" href="../static/css/rtl.css">
</head>
<body>
    <header class="nav-wrap bg-dark fixed-top">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark px-lg-0">
                <a class="navbar-brand mr-3 swap-link" href="{{url_for('main.index')}}">Ved<span class="text-primary">Rat</span></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item swap-link"> <a href="{{url_for('main.index')}}" class="nav-link">Home</a> </li>
                        <li class="nav-item swap-link"> <a href="{{url_for('payments.userpayment')}}" class="nav-link">Pricing</a> </li>
                        <li class="nav-item swap-link"> <a href="{{url_for('main.blogview')}}" class="nav-link">Blog</a> </li>
                        <li class="nav-item swap-link"> <a href="{{url_for('main.faq')}}" class="nav-link">FAQ</a> </li>
                        <li class="nav-item swap-link"> <a href="{{url_for('main.contact')}}" class="nav-link">Contact</a> </li>
                    </ul>
                    <ul class="navbar-nav">
                        {% if current_user.is_authenticated %}
                        <li class="nav-item dropdown megamenu">
                            <a class="nav-link dropdown-toggle no-arrow" href="#" role="button" data-toggle="dropdown" aria-expanded="false"><i class="las la-user mr-2" style="font-size:22px;"></i></a>
                            <div class="dropdown-menu dropdown-menu-right" role="menu">
                                <a class="dropdown-item swap-link" href="{{url_for('users.userdashboard')}}"> Dashboard</a>
                                {% if current_user.user_status == 'admin' %}
                                    <a class="dropdown-item swap-link" href="{{url_for('admin.postfaq')}}"> Post FAQ</a>
                                    <a class="dropdown-item swap-link" href="{{url_for('admin.withdrawals_list')}}"> Withdrawals List</a>
                                    <a class="dropdown-item swap-link" href="{{url_for('admin.addblogpost')}}"> Add Blog Post</a>
                                    <a class="dropdown-item swap-link" href="{{url_for('admin.adminusersview')}}">View Users</a>
                                    <a class="dropdown-item swap-link" href="{{url_for('admin.adminpostsview')}}">View Posts</a>
                                    <a class="dropdown-item swap-link" href="{{url_for('admin.vmessages')}}">View Messages</a>
                                {% endif %}
                                <a class="dropdown-item swap-link" href="{{url_for('users.logout')}}"><i class="las la-sign-out-alt bg-danger-alt text-danger p-1 rounded"></i> Logout</a>
                            </div>
                        </li>
                        {% else %}
                        <li class="nav-item swap-link"> <a href="{{url_for('users.signin')}}" class="nav-link">Login</a> </li>
                        <li class="nav-item d-flex align-items-center">
                        <li class="nav-item">
                            <a class="nav-link btn btn-primary swap-link text-white" href="{{url_for('users.signup')}}" role="button">Sign up</a>
                        </li>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <main role="main">
        <div class="mt-4 container d-flex justify-content-center col-md-7">
            {% include 'includes/_messages.html' %}
        </div>
        {% block body %}
        {% endblock %}
    </main>
    <footer class="section-footer bg-dark position-relative">
        <section class="footer py-5">
            <div class="container">
                <div class="row pb-3">
                    <aside class="col-md-2">
                        <div class="footer-logo">
                            <h4 class="text-white font-weight-bold">Ved<span class="text-muted">Rat</span></h4>
                        </div>
                    </aside>
                    <aside class="col-md">
                        <h6 class="title">Company</h6>
                        <ul class="list-unstyled">
                            <li> <a href="#">Rules and terms</a></li>
                        </ul>
                    </aside>
                    <aside class="col-md">
                        <h6 class="title">Help</h6>
                        <ul class="list-unstyled">
                            <li> <a href="{{url_for('main.contact')}}">Contact us</a></li>
                            <li> <a href="{{url_for('main.faq')}}">FAQ</a></li>
                        </ul>
                    </aside>
                    <aside class="col-md">
                        <h6 class="title">Account</h6>
                        <ul class="list-unstyled">
                            <li> <a href="{{url_for('users.signin')}}"> User Login </a></li>
                            <li> <a href="{{url_for('users.signup')}}"> User register </a></li>
                            <li> <a href="{{url_for('users.usersettings')}}"> Account Setting </a></li>
                        </ul>
                    </aside>
                </div>
                <!-- row.// -->
            </div>
            <!-- //container -->
        </section>
        <!-- footer-top.// -->
        <section class="pt-3 pb-4">
            <div class="container">
                <div class="footer-cta rounded border-dark">
                    <div class="row no-gutters d-flex justify-content-between align-items-center">
                        <div class="col-5 col-md-4 affiliate d-flex align-items-center">
                            <div class="aff-btn">
                                <a href="{{url_for('main.faq')}}" class="btn btn-primary btn-sm">
                                    Referrals
                                </a>
                            </div>
                            <div>
                                <p class="text-white d-none d-md-block m-0 w-75 small ml-3">
                                    Earn upto N74,000 extra cash from referral
                                </p>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="d-flex flex-row justify-content-between">
                                <div class="fact">
                                    <h6 class="mb-1">12,961</h6>
                                    <p class="mb-0">Posts</p>
                                </div>
                                <div class="fact">
                                    <h6 class="mb-1">900</h6>
                                    <p class="mb-0">Users</p>
                                </div>
                                <div class="fact">
                                    <h6 class="mb-1">2,700</h6>
                                    <p class="mb-0">Payments</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="footer-bottom border-top border-dark white pt-4">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <span class="pr-2">© 2020 Vedrat</span>
                        <span class="pr-2"><a href="#">Terms of use</a></span>
                    </div>
                    <div class="col-md-6 text-md-right">
                        <a href="#" class="mr-2"><img src="../static/img/payment/footer-visa.svg" width="42"></a>
                        <a href="#" class="mr-2"><img src="../static/img/payment/footer-mastercard.svg" width="42"></a>
                        <a href="#"><img src="../static/img/payment/footer-paystack.svg" width="42"></a>
                    </div>
                </div>
                <!-- row.// -->
            </div>
            <!-- //container -->
        </section>
    </footer> <!-- build:js -->
    <script src="../static/vendor/js/jquery.js"></script>
    <script src="../static/vendor/js/popper.js"></script>
    <script src="../static/vendor/js/bootstrap.js"></script>
    <script src="../static/vendor/js/swiper.min.js"></script>
    <script src="../static/vendor/js/prism.min.js"></script>

    <script src="../static/js/custom.js"></script>
  <script>
     function functionAlert(msg, myYes) {
        var confirmBox = $("#confirmbox");
        confirmBox.find(".message").text(msg);
        confirmBox.find(".yes").unbind().click(function() {
        confirmBox.hide();
        });
        confirmBox.find(".yes").click(myYes);
        confirmBox.show();
     }
  </script>
    
    <!-- endbuild -->

</body>

</html>