{% extends 'layout.html' %}
{% block body %}
<div class="wrapper">
    <div class="breadcrumb-wrap">
        <div class="container py-3">
            <div class="row d-flex justify-content-md-between justify-content-sm-center">
                <div class="col-md-4">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item mr-1 font-weight-bold"><a href="{{url_for('main.index')}}">Home</a></li>
                                <li class="breadcrumb-item mr-1 font-weight-bold"><a href="{{url_for('users.userdashboard')}}">Dashboard</a></li>
                            <li class="breadcrumb-item ml-1 font-weight-bold active" aria-current="page">
                                View post
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <aside class="col-lg-3 pt-4 pt-lg-0">
                <div class="row">
                    <div class="col-md-12 grid-margin stretch-card">
                        <div class="card mb-4">
                            <div class="card-body px-3 py-2">
                                <div class="d-sm-flex flex-row flex-wrap text-center text-sm-left align-items-center">
                                    <img src="{{ avatars.gravatar(current_user.email) }}" class="img-lg rounded-circle" alt="profile image">
                                    <div class="ml-sm-2 ml-md-0 ml-xl-2 mt-2 mt-sm-0 mt-md-2 mt-xl-0">
                                        <h6 class="mb-0">{{current_user.fullname}}</h6>
                                        <p class="text-muted mb-1" style="font-size: 12px;">{{current_user.email}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-4">
                    <ul class="nav flex-column dash-nav">
                        <li class="nav-item">
                            <a class="nav-link active d-flex justify-content-between align-items-center" aria-current="page" href="{{url_for('users.userdashboard')}}">
                                <div><i class="las la-arrow-right"></i>Dashboard</div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active d-flex justify-content-between align-items-center" aria-current="page" href="{{url_for('posts.newposts')}}">
                                <div><i class="las la-file"></i>View new ads</div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active d-flex justify-content-between align-items-center" aria-current="page" href="{{url_for('posts.sharedads')}}">
                                <div><i class="las la-cloud-download-alt"></i>My shared ads</div>
                                <div class="d-flex  align-items-center">
                                    <p class="mb-0 text-small">{{shared}}</p>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active d-flex justify-content-between align-items-center" aria-current="page" href="{{url_for('users.userposts')}}">
                                <div><i class="las la-file"></i>My ads</div>
                                <div class="d-flex  align-items-center">
                                    <p class="mb-0 text-small text-primary">{{posted}}</p>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active d-flex justify-content-between align-items-center" aria-current="page" href="{{url_for('posts.postad')}}">
                                <div><i class="las la-plus"></i>Post new ad</div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active d-flex justify-content-between align-items-center" aria-current="page" href="{{url_for('users.usersettings')}}">
                                <div><i class="las la-cog"></i>Settings</div>

                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active d-flex justify-content-between align-items-center" aria-current="page" href="{{url_for('payments.userpayment')}}">
                                <div><i class="las la-wallet"></i>Payment</div>
                                <div class="d-flex  align-items-center">
                                    <p class="mb-0 text-small text-success">

                                    </p>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active d-flex justify-content-between align-items-center" aria-current="page" href="{{url_for('users.usertransactions')}}">
                                <div><i class="las la-hand-holding-usd"></i>Transactions</div>
                                <div class="d-flex  align-items-center">
                                    <p class="mb-0 text-small text-success">

                                    </p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </aside>
            <!-- Insert code here -->
            <div class="col-md-9">
                <div class="featured-post mb-5 bg-soft-green rounded hover-box-shadow">
                    <div class="row align-items-md-center">
                        <div class="col-lg-6 col-md-12">
                            <div class="featured-post--img position-relative ">
                                <img alt="bg image" class="bg-image rounded-left" src="../static/img/vedrat/{{post.image}}" />
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12">
                            <div class="p-4">
                                <div class="blog-date d-flex justify-content-start align-items-center mb-2">
                                    <a href="#!" class="label font-weight-bold">{{post.category}}</a>
                                </div>
<div id="postText"><h2 class="h3 mb-2"><a href="#" class="blog-title text-dark">{{post.title}}</a></h2>
    <p class="lead">{{post.description}}
        <br> Visit: {{picked.web_link}}</p></div>
                                <div class="card-footer border-0 d-flex justify-content-between align-items-center mt-2 px-0 py-3">
                                    <div class="btn-group" role="group" aria-label="Basic example">
                                    <button class="btn btn-sm btn-success" onclick="clickToCopy('#postText')">Copy <i class="las la-copy"></i></button>
                                    <a href="https://www.facebook.com" target="_blank" class="btn btn-sm btn-primary">Post <i class="lab la-facebook-f"></i></a>
                                    </div>
                                </div>
                                    <p class="text-small col-12">{{post.posters_applied}}/{{post.posters_needed}} applied</p><!--  -->
                            </div>
                        </div>
                    </div>
                </div>
                <span class="row">
                <ul>
                    <li>Click on 'copy' and click on the Facebook Icon to post</li>
                </ul>
            </span>
            </div>
        </div>
    </div>
</div>
{% endblock body %}