{% extends 'layout.html' %}
{% block body %}
<div class="wrapper">
    <div class="breadcrumb-wrap">
        <div class="container py-3">
            <div class="row d-flex justify-content-md-between justify-content-sm-center">
                <div class="col-md-4">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item mr-1 font-weight-bold"><a href="{{url_for('main.index')}}">Home</a></li>
                                <li class="breadcrumb-item mr-1 font-weight-bold"><a href="{{url_for('users.userdashboard')}}">Dashboard</a></li>
                            <li class="breadcrumb-item ml-1 font-weight-bold active" aria-current="page">
                                Transaction page
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="row col-md-12">
            <div class="container">
                <div class="row d-flex align-items-start justify-content-center text-center">
                    <div class="col-md-10">
                        <h1 class="display-3">Vedrat Payment Channel</h1>
                        <p class="lead">Pay for a plan that is comfortable with your pocket</p>
                    </div>
                </div>
                <div class="row justify-content-center mb-5 mt-3">
                    <div class="col-auto">
                        <nav class="nav btn-group" role="tablist"> <a href="#pricing-monthly" class="btn btn-outline-primary active show" id="pricing-monthly-tab" data-toggle="tab" aria-controls="pricing-monthly">Deposit</a> <a href="#pricing-yearly" class="btn btn-outline-primary" id="pricing-yearly-tab" data-toggle="tab" aria-controls="pricing-yearly">Withdraw</a> </nav>
                    </div>
                    <!--end of col-->
                </div>
                <!--end of row-->
                <div class="tab-content my-5">
                    <div class="tab-pane fade active show" id="pricing-monthly" role="tab" aria-selected="true">
                        <div class="row d-flex justify-content-center">
                            <div class="col-md-6 col-lg-4">
                                <div class="pricing-v1 card bg-dark text-white px-5 p-4 mt-0 mb-4 position-relative hover-box-shadow">
                                    <h3 class="font-weight-bold mb-0 text-primary">Plan A </h3>
                                    <hr>
                                    <h3 class="price pt-2 h1">N3000 <span class="text-small text-muted">per month</span></h3>
                                    <p class="small">Earn N7000</p>
                                    <p class="text-small">Make more money from referrals and earn upto N74000.</p>
                                    <div class="price-btn"> 
                                        <a class="btn btn-outline-primary" href="{{url_for('payments.pay_plan', plan_id='a')}}">Pay</a>
                                    </div>
                                </div>
                                <!--end card-->
                            </div>
                            <!--end of col-->
                            <div class="col-md-6 col-lg-4">
                                <div class="pricing-v2 card bg-dark text-white px-5 p-4 mt-0 mb-4 position-relative hover-box-shadow">
                                    <h3 class="font-weight-bold mb-0 text-primary">Plan B </h3>
                                    <hr>
                                    <h3 class="price pt-2 h1">N5000 <span class="text-small text-muted">per month</span></h3>
                                    <p class="small">Earn N14000</p>
                                    <p class="text-small">Make more money from referrals and earn upto N74000.</p>
                                    <div class="price-btn"> <a class="btn btn-primary" href="{{url_for('payments.pay_plan', plan_id='b')}}">Pay</a>
                                    </div>
                                </div>
                                <!--end card-->
                            </div>
                            <!--end of col-->
                            <div class="col-md-6 col-lg-4">
                                <div class="pricing-v1 card bg-dark text-white px-5 p-4 mt-0 mb-4 position-relative hover-box-shadow">
                                    <h4 class="font-weight-bold mb-0 text-primary">Deposit Balance </h4>
                                    <hr>
                                    {% if current_user.is_authenticated %}
                                    <form role="form" class="form-width" method="POST" action="{{url_for('payments.wb_deposit')}}">
                                    {{ form.hidden_tag() }}
                                    {% from 'includes/_formhelpers.html' import render_field %}
                                        <div class="form-group">
                                            {{render_field(form.amount, class_='form-control', placeholder='Amount to deposit', type='number', min='3000')}}
                                            <i class="fa fa-user iconalign"></i>
                                        </div>
                                    <p class="text-small">This money is put into your working balance. You can use it to place adverts on the platform</p>
                                        <div class="form-group">
                                            <button class="btn btn-outline-primary" type="submit">Pay</button>
                                        </div>
                                    </form>
                                    {% else %}
                                    <form role="form" class="form-width" method="POST" action="#">
                                        <div class="form-group">
                                            <input type="number" class="form-control" placeholder="Amount to deposit" min="3000">
                                            <i class="fa fa-user iconalign"></i>
                                        </div>
                                        <p class="text-small">This money is put into your working balance. You can use it to place adverts on the platform</p>
                                        <div class="form-group">
                                            <a href="{{url_for('users.userdashboard')}}" type="button" class="btn btn-outline-primary" type="submit">Pay</a>
                                        </div>
                                    </form>
                                    {% endif %}
                                </div>
                                <!--end card-->
                            </div>
                            <!--end of col-->
                        </div>
                        <!--end of row-->
                    </div>
                    <!--end:tabs-->
                    <div class="tab-pane fade" id="pricing-yearly" role="tab" aria-selected="false">
                        <div class="row d-flex justify-content-center">
                            {% if current_user.is_authenticated %}
                            <p>Withdraw Balance: N{{refer_balance+current_user.ad_earning}}</p>
                            {% else %}
                            <p>Please <a href="{{url_for('users.signin')}}">login</a> to view balance</p>
                            {% endif %}
                        </div>
                        {% if current_user.is_authenticated %}
                            <div class="row d-flex justify-content-center">
                                <a href="{{url_for('payments.withdraw_balance')}}" type="button" class="btn btn-primary">Withdraw</a>
                            </div>
                        {% endif %}
                            <!--end of col-->
                        </div>
                        <!--end of row-->
                    </div>
                    <!--end:tabs-->
                </div>
            </div>
        </div>
        </div>
    </div>
</div>

{% endblock body %}
<!-- 
        <div id = "confirmbox">
           <div class = "message">Are you sure to suspend this post?</div>
           <a href='/usersuspendpost/{{post.uuid}}'><button class = "yes">Yes</button></a>
           <button class = "yes">Cancel</button>
        </div> -->