{% extends 'layout.html' %}
{% block body %}
<div class="wrapper">
    <div class="breadcrumb-wrap">
        <div class="container py-3">
            <div class="row d-flex justify-content-md-between justify-content-sm-center">
                <div class="col-md-4">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item mr-1 font-weight-bold"><a href="{{url_for('main.index')}}">Home</a></li>
                            <li class="breadcrumb-item ml-1 font-weight-bold active" aria-current="page">
                                Dashboard
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <aside class="col-lg-3 pt-4 pt-lg-0">
                <div class="row">
                    <div class="col-md-12 grid-margin stretch-card">
                        <div class="card mb-4">
                            <div class="card-body px-3 py-2">
                                <div class="d-sm-flex flex-row flex-wrap text-center text-sm-left align-items-center">
                                    <img src="{{ avatars.gravatar(current_user.email) }}" class="img-lg rounded-circle" alt="profile image">
                                    <div class="ml-sm-2 ml-md-0 ml-xl-2 mt-2 mt-sm-0 mt-md-2 mt-xl-0">
                                        <h6 class="mb-0">{{current_user.fullname}}</h6>
                                        <p class="text-muted mb-1" style="font-size: 12px;">{{current_user.email}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-4">
                    <ul class="nav flex-column dash-nav">
                        <li class="nav-item">
                            <a class="nav-link active d-flex justify-content-between align-items-center" aria-current="page" href="{{url_for('users.userdashboard')}}">
                                <div><i class="las la-arrow-right"></i>Dashboard</div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active d-flex justify-content-between align-items-center" aria-current="page" href="{{url_for('posts.newposts')}}">
                                <div><i class="las la-file"></i>View new ads</div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active d-flex justify-content-between align-items-center" aria-current="page" href="{{url_for('posts.sharedads')}}">
                                <div><i class="las la-cloud-download-alt"></i>My shared ads</div>
                                <div class="d-flex  align-items-center">
                                    <p class="mb-0 text-small">{{shared}}</p>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active d-flex justify-content-between align-items-center" aria-current="page" href="{{url_for('users.userposts')}}">
                                <div><i class="las la-file"></i>My ads</div>
                                <div class="d-flex  align-items-center">
                                    <p class="mb-0 text-small text-primary">{{posted}}</p>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active d-flex justify-content-between align-items-center" aria-current="page" href="{{url_for('posts.postad')}}">
                                <div><i class="las la-plus"></i>Post new ad</div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active d-flex justify-content-between align-items-center" aria-current="page" href="{{url_for('users.usersettings')}}">
                                <div><i class="las la-cog"></i>Settings</div>

                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active d-flex justify-content-between align-items-center" aria-current="page" href="{{url_for('payments.userpayment')}}">
                                <div><i class="las la-wallet"></i>Payment</div>
                                <div class="d-flex  align-items-center">
                                    <p class="mb-0 text-small text-success">

                                    </p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </aside>            <div class="col-lg-9">
                <div class="card mb-3 p-2">
                    <span>Referral Link: 
                       {% if current_user.plan != '0' %} 
                        <span id="referText">www.vedrat.com/index/{{current_user.uuid}}</span><button class="las la-copy bg-primary p-1 text-light" title="click to copy" onclick="clickToCopy('#referText')"></button></span>
                        {% else %}
                            Please <a href="{{url_for('payments.userpayment')}}">subscribe</a> to a plan to get your referral link
                        {% endif %}
                </div>
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-6 mb-3 col-xl-3 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Referrals</h4>
                                <p class="text-small">
                                	{% if current_user.plan != '0' %}
                                		{{current_user.referred_plan_1 + current_user.referred_plan_2}} users referred
                                	{% else %}
                                		Join a plan to earn
                                	{% endif %}
                            	</p>
                                <div class="d-flex justify-content-between align-items-baseline">
                                    <h2 class="text-dark font-weight-bold">
                                    	N{{refer_balance}}
                                    </h2>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 mb-3 col-md-6 col-xl-3 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Revenue</h4>
                                <p class="text-small">{{shared}} ads shared</p>
                                <div class="d-flex justify-content-between align-items-baseline">
                                    <h2 class="text-dark font-weight-bold">N{{current_user.ad_earning}}</h2>
                                    <!-- <div class="text-success font-weight-bold d-flex justify-content-between align-items-center">
                                        <span class="text-small">10.8%</span>
                                    </div> -->
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-sm-6 mb-3 col-md-6 col-xl-3 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Balance</h4>
                                <p class="text-small">Working balance</p>
                                <div class="d-flex justify-content-between align-items-baseline">
                                    <h2 class="text-dark font-weight-bold">N{{current_user.balance}}</h2>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 mb-3  col-md-6 col-xl-3 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Total</h4>
                                <p class="text-small">Total balance</p>
                                <div class="d-flex justify-content-between align-items-baseline">
                                    <h2 class="text-dark font-weight-bold">N{{current_user.balance + current_user.refer_earning + current_user.ad_earning}}</h2>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-4 mt-5 d-flex justify-content-between align-items-center">
                    <div class="col-md-12">
                        <h5 class="mb-0">Latest Ads</h5><hr>
                    </div>
                </div>
                <div class="row">
                        {% if posts == [] %}
                            <p class="text-light text-center bg-info col-12 p-3">No ads available. 
                                <a href="{{url_for('posts.postad')}}" class="text-dark">Post your ad</a>
                            </p>
                        {% else %}
                        {% for post in posts.items %}
                    <div class="col-md-3">
                        <div class="card item-card h-100 border-0">
                            <div class="item-card__image rounded">
                                <img src="../static/img/vedrat/{{post.image}}" class="img-fluid rounded" alt="{{post.image}}">
                            </div>
                            <!-- end: Item card image -->
                            <div class="card-body px-0 pt-3">
                                <div class="d-flex justify-content-between align-items-start">
                                    <div class="item-title">
                                        <h3 class="h5 mb-0 text-truncate" title="{{post.title}}">{{post.title}}</h3>
                                    </div>
                                    <div class="item-price">
                                        <span>{{post.posters_applied}}</span>
                                    </div>
                                </div>
                                <!-- end: Card info -->
                                <div class="d-flex justify-content-between align-items-center item-meta">
                                    <div class="short-description mb-0">
                                        <p class="mb-0 extension-text text-justify">{{post.description | truncate(50)}}</p>
                                        <a href="{{url_for('posts.userviewpost', post_id=post.uuid)}}"><button type="button" class="btn btn-primary col-5 mt-2 text-small">View</button></a>
                                        <a href="{{url_for('posts.reportpost', post_id=post.uuid)}}"><button type="button" class="btn btn-danger col-6 mt-2 mr-2 text-small">Report</button></a>
                                    </div>
                                </div>
                                <!-- end: Card meta -->
                            </div>
                            <!-- edn:Card body -->
                        </div>
                    </div>
                        {% endfor %}
                        {% endif %}
                        <!-- end: Card -->
        		</div>
                <div class="px-3 py-2">
                    <nav aria-label="pagin">
                        <ul class="pagination mt-2">
                            {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                              {% if posts.page == page_num %}
                                <li class="page-item">
                                  <a class="page-link bg-success text-white" href="{{ url_for('users.userdashboard', page=page_num) }}">{{ page_num }}</a>
                                </li>
                                {% elif page_num==None %}
                                <li class="page-item disabled">
                                  <a class="page-link text-success">...</a>
                                </li>
                                {% else %}
                                  <a class="page-link text-success" href="{{ url_for('users.userdashboard', page=page_num) }}">{{ page_num }}</a>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </nav>
                </div>
        </div>
    </div>
</div>
</div>
{% endblock body %}
