{% extends 'layout.html' %}
{% block body %}
<div class="wrapper">
    <div class="breadcrumb-wrap">
        <div class="container py-3">
            <div class="row d-flex justify-content-md-between justify-content-sm-center">
                <div class="col-md-4">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item mr-1 font-weight-bold"><a href="{{url_for('main.index')}}">Home</a></li>
                                <li class="breadcrumb-item mr-1 font-weight-bold"><a href="{{url_for('users.userdashboard')}}">Dashboard</a></li>
                            <li class="breadcrumb-item ml-1 font-weight-bold active" aria-current="page">
                                Withdrawal List
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <aside class="col-lg-3 pt-4 pt-lg-0">
                <div class="row">
                    <div class="col-md-12 grid-margin stretch-card">
                        <div class="card mb-4">
                            <div class="card-body px-3 py-2">
                                <div class="d-sm-flex flex-row flex-wrap text-center text-sm-left align-items-center">
                                    <img src="{{ avatars.gravatar(current_user.email) }}" class="img-lg rounded-circle" alt="profile image">
                                    <div class="ml-sm-2 ml-md-0 ml-xl-2 mt-2 mt-sm-0 mt-md-2 mt-xl-0">
                                        <h6 class="mb-0">{{current_user.fullname}}</h6>
                                        <p class="text-muted mb-1" style="font-size: 12px;">{{current_user.email}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-4">
                    <ul class="nav flex-column dash-nav">
                        <li class="nav-item">
                            <a class="nav-link active d-flex justify-content-between align-items-center" aria-current="page" href="{{url_for('users.userdashboard')}}">
                                <div><i class="las la-arrow-right"></i>Dashboard</div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active d-flex justify-content-between align-items-center" aria-current="page" href="{{url_for('posts.newposts')}}">
                                <div><i class="las la-file"></i>View new ads</div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active d-flex justify-content-between align-items-center" aria-current="page" href="{{url_for('posts.sharedads')}}">
                                <div><i class="las la-cloud-download-alt"></i>My shared ads</div>
                                <div class="d-flex  align-items-center">
                                    <p class="mb-0 text-small">{{shared}}</p>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active d-flex justify-content-between align-items-center" aria-current="page" href="{{url_for('users.userposts')}}">
                                <div><i class="las la-file"></i>My ads</div>
                                <div class="d-flex  align-items-center">
                                    <p class="mb-0 text-small text-primary">{{posted}}</p>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active d-flex justify-content-between align-items-center" aria-current="page" href="{{url_for('posts.postad')}}">
                                <div><i class="las la-plus"></i>Post new ad</div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active d-flex justify-content-between align-items-center" aria-current="page" href="{{url_for('users.usersettings')}}">
                                <div><i class="las la-cog"></i>Settings</div>

                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active d-flex justify-content-between align-items-center" aria-current="page" href="{{url_for('payments.userpayment')}}">
                                <div><i class="las la-wallet"></i>Payment</div>
                                <div class="d-flex  align-items-center">
                                    <p class="mb-0 text-small text-success">

                                    </p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </aside>
                <div class="col-lg-9">
                <form role="form" class="form-width" method="POST">
                    {{ form.hidden_tag() }}
                    {% from 'includes/_formhelpers.html' import render_field %}
                    <h3>Search by Status</h3>
                        <div class="form-group col-md-6">
                            {{render_field(form.status, class_='form-control')}}
                            <i class="fa fa-user iconalign"></i>
                        </div>
                        <div class="form-group ml-2">
                            <button class="btn btn-primary" type="submit">Search</button>
                            <a href="{{url_for('admin.withdrawals_list')}}" type="button" class="btn btn-info">All</a>
                        </div>
                </form><hr>
                        <div class="row">
                            <div class="col">
                                <!-- my items table -->
                                <div class="card product_item_list mb-4">
                                    <div class="card-header py-3 border-bottom">
                                        <div class="d-flex align-items-center">
                                            <div>
                                                <h6 class="card-title mb-0">Withdrawal List</h6>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="card-body pt-4">
                                    	{% if withdrawals.items == [] %}
				                            <p class="text-light text-center bg-info p-3">No withdrawals.
				                            </p>
				                        {% else %}
                                        <div class="table-responsive">
                                            <table class="table table-hover m-b-0">
                                                <thead>
                                                    <tr>
                                                        <th class="border-0 text-center">ID</th>
                                                        <th class="border-0 text-center">Bank name</th>
                                                        <th class="border-0 text-center" data-breakpoints="sm xs">Account name</th>
                                                        <th class="border-0 text-center" data-breakpoints="xs">Account number</th>
                                                        <th class="border-0 text-center" data-breakpoints="xs">Amount</th>
                                                        <th class="border-0 text-center" data-breakpoints="xs">Status</th>
                                                        <th class="border-0 text-center" data-breakpoints="sm xs md">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                	{% for withdraw in withdrawals.items %}
                                                    <tr>
                                                        <td class="text-center">
                                                            <h6 class="text-muted">{{withdraw.id}}</h6>
                                                        </td>
                                                        <td class="text-center">
                                                            <h6 class="text-muted">{{withdraw.bank_name}}</h6>
                                                        </td>
                                                        <td class="text-center">
                                                            <span class="text-muted">{{withdraw.acc_name}}</span>
                                                        </td>
                                                        <td class="text-center">
                                                            <span class="text-muted">{{withdraw.acc_number}}</span>
                                                        </td>
                                                        <td class="text-center">
                                                            <span class="text-muted">{{withdraw.amount}}</span>
                                                        </td>
                                                        <td class="text-center">
                                                            <span class="text-muted">{{withdraw.status}}</span>
                                                        </td>
                                                        <td class="text-center">
                                                            <div class="btn-group" role="group" aria-label="Basic example">
                                                                {% if withdraw.status == 'pending' %}
                                                                <a href="{{url_for('admin.verify_withdraw',uuid=withdraw.uuid)}}"type="button" class="btn btn-sm btn-danger" title="verify pay"><i class="las la-thumbs-up"></i></a>
                                                                {% endif %}
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                        {% endif %}
                                        <hr>
                                        <div class="px-3 py-2">
                                            <nav aria-label="pagin">
                                                <ul class="pagination mt-2">
								                    {% for page_num in withdrawals.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
								                      {% if withdrawals.page == page_num %}
								                        <li class="page-item">
								                          <a class="page-link bg-success text-white" href="{{ url_for('admin.withdrawals_list', page=page_num) }}">{{ page_num }}</a>
								                        </li>
								                        {% elif page_num==None %}
								                        <li class="page-item disabled">
								                          <a class="page-link text-success">...</a>
								                        </li>
								                        {% else %}
								                          <a class="page-link text-success" href="{{ url_for('admin.withdrawals_list', page=page_num) }}">{{ page_num }}</a>
								                        {% endif %}
								                    {% endfor %}
								                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                                <!-- end: My items table-->

                            </div>
                        </div>
                    </div>
        </div>
    </div>
</div>

{% endblock body %}
<!-- 
        <div id = "confirmbox">
           <div class = "message">Are you sure to suspend this post?</div>
           <a href='/usersuspendpost/{{post.uuid}}'><button class = "yes">Yes</button></a>
           <button class = "yes">Cancel</button>
        </div> -->